@charset "UTF-8";
/* Какие то общие классы */
.headline-1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 120%;
}

.headline-2 {
  font-size: 27px;
  line-height: 120%;
  font-weight: bold;
}

.success {
  background-color: #0FBF4B;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.btn {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  outline: none;
  border: 0px;
}

.btn-success {
  background-color: #0FBF4B;
  color: white;
}

.form-control[type=text] {
  border-radius: 4px;
  outline: none;
  border: 1px solid #D3D3D3;
  transition: 0.2s ease-in-out;
}
.form-control[type=text]:focus {
  box-shadow: 0px 0px 4px 0px #4757b8a3;
}

/* Конец общих классов  */
body {
  font-family: "Roboto-Regular", sans-serif;
  height: 100vh;
  background-color: #F1F1F1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* HEADER */
.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px 40px 15px 40px;
  border-bottom: 1px solid #D3D3D3;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header_separator {
  height: 100%;
  width: 1px;
  background-color: #D3D3D3;
  margin: 0px 20px;
}

.header__profile {
  display: flex;
  align-items: center;
}

.header__profile-image {
  border: 2px solid #7775F8;
  border-radius: 50%;
  margin-right: 15px;
}
.header__profile-image img {
  border-radius: 50%;
}

.header__profile-more {
  margin-left: 10px;
  cursor: pointer;
  position: relative;
}

.header__profile-more-open {
  position: absolute;
  width: 258px;
  right: -30px;
  top: 50px;
  display: none;
  box-shadow: -3px 5px 4px rgba(115, 115, 115, 0.25);
}

.header__list {
  height: 100%;
  background-color: white;
}

.header__list-item {
  height: 33.3333333333%;
  transition: 0.5s;
}
.header__list-item:hover {
  background-color: #F1F1F1;
}

.header__link {
  display: flex;
  align-items: center;
  padding: 11px 12px;
  color: #7775F8;
  width: 100%;
}
.header__link svg {
  margin-right: 15px;
}

/* HEADER END*/
/* MAIN BEGIN*/
main {
  padding: 22px 40px;
}

.my-projects {
  background: white;
  border-radius: 15px;
  height: 100%;
  margin-right: 40px;
  width: 75%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.my-projects__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.create-project {
  display: flex;
  align-items: center;
}

.create-project__btn {
  margin-right: 10px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.create-project__btn.active {
  transform: rotate(45deg);
}
.create-project__btn.active path {
  fill: #CE3166;
}

.create-project__form {
  display: flex;
  width: 0px;
  overflow: hidden;
  transition: 1s;
}
.create-project__form input {
  margin: 0px 10px;
  height: 30px;
  padding: 0px 10px;
}
.create-project__form.active {
  width: 355px;
}

.my-zone {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.reate-project {
  font-weight: bold;
}

.project__item {
  height: 40px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.project__item:nth-child(odd) {
  background-color: #F1F1F1;
}

.project__name {
  font-size: 16px;
  line-height: 120%;
}

.project-indicator {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.project__desc {
  display: flex;
  align-items: center;
}

.project-indicator {
  margin-right: 10px;
}

/* Форма профиля */
.my-profile {
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  width: 25%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.profile__image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile__image-inner {
  border-radius: 50%;
  border: 3px solid #7775F8;
  overflow: hidden;
  width: fit-content;
  overflow: hidden;
  position: relative;
}
.profile__image-inner img {
  width: 190px;
  border-radius: 50%;
}
.profile__image-inner:hover .upload-avatar__overlay {
  height: 50px;
  bottom: -5px;
}

.upload-avatar__overlay {
  position: absolute;
  width: 200px;
  transition: 0.5s ease;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: rgba(97, 97, 97, 0.719);
}
.upload-avatar__overlay input {
  display: none;
}
.upload-avatar__overlay label {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  margin-top: 10px;
  height: fit-content;
}

.form__input-list {
  margin-top: 40px;
}

.profile__form-input {
  width: 47%;
  height: 42px;
  padding: 10px;
}

.form__input-group {
  display: flex;
  justify-content: space-between;
}

.form__input-group:last-child {
  margin-top: 10px;
}

.profile-btn {
  margin-top: 60px;
  height: 40px;
  width: 160px;
}